
.content{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
   
}
.calender-content{
    width: 35%;
    margin: 0 auto;
    margin-top: 1%;
}
.month-link{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.month-link a{
    background-color: rgb(129, 162, 235);
    border-radius: 100px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 40px;
    color: #fff;
}
.month-link a:hover{
    background-color: rgb(182, 201, 243);
}

.cal{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}
.cal thead tr th, .cal tbody tr td{
    border: 1px solid #c0c0c0;
    width: calc(1 / 7 * 100%);
    height: 80px;
    text-align: right;
}
.cal thead tr th{
    text-align: center;
}
.cal thead th{
    background-color: rgb(129, 162, 235);
    color: white;
    text-align: center;
}
.cal tbody td{
    vertical-align: text-top;
}
.cal tbody td a{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
    background-color: #fff;
}
.cal tbody td a:hover{
    background: orange;
}
.cal tbody .empty{
    background-color: #444;
    color: #f0f0f0;
}
.table-area{
    width: 65%;
    border-right: 1px dotted #f0f0f0;
    margin-top: 1%;
    margin-left: 4%;
    border-left: 1px dotted #c0c0c0;
}
.task-buttons{
    display: flex;
}
.new_task_button{
    display: block;
    background-color: rgb(129, 162, 235);
    color: white;
    width: 12%;
    text-align: center;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 3em;
    margin-left: 2%;
    font-size: 14px;
    
}
.new_task_button:hover{
    background-color: rgb(182, 201, 243); 
}

#delete-task-button{
    margin-left: 2.5%; 
    display: block;
    background-color: red;
    color: white;
    width: 12%;
    text-align: center;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 3em;
    border: 1px solid rgb(247, 44, 44);
    font-size: 14px;

 }
.empty-task{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 10px;
    background-color: #e0e0e0;
    text-align: center;
    color: mediumblue;
}
.task-table{
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    margin-top: 1%;
}
.task-table thead{
    background-color: rgb(129, 162, 235);
    color: #fff;
    border-bottom: 1px solid #c0c0c0;
    height: 30px;
    line-height: 2.3em;
    font-size: 14px;
    text-align: left;
    border: 1px solid #fff;
}
.task-table thead tr th{
    border: 1px solid #fff;
    height: 60px;
}
.task-table tbody{
    border-bottom: 1px dotted #c0c0c0;
    height: 60px;
    line-height: 2.5em;
    text-align: left;
    font-family: monospace;
}
.task-table tbody td{
    height: 50px;
    line-height: 2.7em;
    font-size: 15px;
    font-weight: 200;
}
.task-change-button:hover{
    background-color: orange;
}
.modal-body{
    width: 85%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}

.modal-title{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 300;
  color:rgb(69, 107, 189);
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}
#datetime-content{
    font-weight: bold;
}
#task-status-change{
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(129, 162, 235);
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 0;
    margin-top: 12px;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}
/*****************************************************************************************************************************************/
/*
スマートフォン
*/
@media screen and (max-width:767px) {

    .content{
        display: block;
    }
    .calender-content{
        width: 100%;
        margin-top: 1%;
    }
    .cal thead tr th, .cal tbody tr td{
        border: 1px solid #c0c0c0;
        width: calc(1 / 7 * 100%);
        height: 50px;
        text-align: right;
    }
    .cal thead tr th{
        text-align: center;
        -webkit-appearance: none;
        -webkit-text-size-adjust: 100%;
    }
    .table-area{
        width: 100%;
        margin: 0;
        margin-top: 3%;
        border-top: 1px solid #c0c0c0;
        box-sizing: border-box;
       
    }
    .task-buttons{
        display: flex;
        width: 100%;
        justify-content:start;
        margin-top: 5%;
    }
    .new_task_button{
        display: block;
        width: 23%;
        font-size: 12px;
        padding: 8px 0;
    }
    #delete-task-button{
        width: 23%;
     }
     .modal-body{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        -webkit-appearance: none;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
    }
    .modal-title{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #f0f0f0;
      font-weight: 300;
      color:rgb(69, 107, 189);
      box-sizing: border-box;
      -webkit-appearance: none;
      -webkit-text-size-adjust: 100%;
    }
    #task-status-change{
        display: block;
        width: 90%;
        margin: 0 auto;
        background-color: rgb(129, 162, 235);
        border: none;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 3% 0;
        margin-top: 20px;
        margin-bottom: 12px;
        -webkit-appearance: none;
        -webkit-text-size-adjust: 100%;
        box-sizing: border-box;
    }
    /*タスク編集*/
    .edit-task-a{
        background-color: rgb(129, 162, 235);
        text-decoration: none;
        display: block;
        color: #fff;
        border: 1px solid #fff; 
        font-size: 12px;
        width: 45%;
        text-align: center;
        
    }
    /*チェックボックス*/
    .delete-task-checks{
        display: block;
        width: 30px;
        height: 30px;
        color: #444;
        margin: 0 auto;
        
        
    }
}

